@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #18171F;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8px;
    background: linear-gradient(to right, #A4FFAF 0%, #A4FFAF 70%, #18171F 50%, #18171F 100%);
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background-color: #E6E5EA;
    border-radius: 50%;
    cursor: pointer;
  }

  .cube {
    width: 10px;
    height: 28px;
    border: 2px solid #E6E5EA;
    margin-right: 8px;
    background-color: transparent; /* Default color */
  }

  .low-strength {
    background-color: #F64A4A;
    border-color: #F64A4A;
  }
  
  .weak-strength {
    background-color: #FB7C58;
    border-color: #FB7C58;
  }
  
  .average-strength {
    background-color: #F8CD65;
    border-color: #F8CD65;
  }
  
  .strong-strength {
    background-color: #A4FFAF;
    border-color: #A4FFAF;
  }
  

  
  
  
  